*{
	box-sizing:border-box;
	padding:0px;
	margin:0px;
	border:0px;
}
html{
	height: 100%;
	width: 100%;
	overflow-x:hidden;
}
body{
	width:100%;
	overflow-x:hidden;
	height: 100%;
}
#fixed_head{
	position: fixed;
	top:0px;
	right: 0;
	left: 0;
	margin-bottom: 20px;
	height:50px;
	/*min-height: 50px;*/
	display: block;
	background-color: rgba(41,60,85,0.4);
	transition: background-color 0.5s linear;
}
#fixed_head .inner_head{
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;
	display: inline-block;
}
#fixed_head .inner_head .head_pic{
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
	color: #777;
	text-decoration: none;
	background-color: transparent;
	margin-left: -15px;
}
#fixed_head .inner_head .head_pic .head_web{
	margin-right: 0px;
	margin-left: 0px;
}
#fixed_head .inner_head .head_pic .pic_logo{
	height: 32px;
	margin-top: -6px;
	margin-left: -2px;
}
#fixed_head .inner_head .head_nav{
	padding-left: 0px;
	font-size: 14px;
	color: #333;
	display: inline-block;
	float: left;
	transition: background-color 0.5s linear;
}
#fixed_head .inner_head .head_nav>li:hover{
	list-style: none;
	background-color: #162436;
	padding-top: 11px;
	border-top: 4px solid #a9334c;
	float:left;
}
#fixed_head .inner_head .head_nav li{
	color: #fff;
	background-color: transparent;
	transition: 0.5s background-color;
	padding:15px 20px;
	line-height: 20px;
	float:left;
	list-style: none;
}
#fixed_head .inner_head .head_nav .drop-down{
	position: absolute;
	right:-20px;
	float: left;
	z-index: 50;
	width: 70px;
}
#head .doc_more{
	color: #f9f9f9;
	background-color: #162436;
	text-decoration: none;
	display: block;
	/*	margin: 0 !important;*/
	padding: 8px 20px;
	position: relative;
	text-align: center;
}
#fixed_head .inner_head .head_nav li.active a{
	color: #fff;
	height:20px;
	display:block;
	background-color: transparent;
	text-decoration: none;
}
.caret{
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	margin-top:2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
#fixed_head .inner_head .head_nav_right{
	position:absolute;
	right:0px;
	padding-left: 0px;
	font-size: 14px;
	color: #333;
	display: inline-block;
	float: right !important;
	margin-right: -15px;
	transition: background-color 0.5s linear;
}
#fixed_head .inner_head .head_nav_right>li:hover{
	list-style: none;
	background-color: #162436;
	padding-top: 11px;
	border-top: 4px solid #a9334c;
	float:right;
}
#fixed_head .inner_head .head_nav_right li{
	color: #fff;
	background-color: transparent;
	transition: 0.5s background-color;
	padding:15px 20px;
	line-height: 20px;
	float:right;
	list-style: none;
}
#fixed_head .inner_head .head_nav_right li.active a{
	color: #fff;
	height:20px;
	display:block;
	background-color: transparent;
	text-decoration: none;
}